@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@300&family=Ultra&display=swap");

:root {
  --verde: #89ac76;
  --naranja: #ff8d5c;
  --rosa: #ffa985;
  --gris: #a3a3a3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: sticky;
  top: 0px;
  box-shadow: 1px 5px 20px black;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  gap: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
}

@media (min-width: 320px) {
  section {
    scroll-margin-top: 60px;
  }

  .menu_toggle,
  .menu__links {
    display: none;
  }

  .menu_toggle:checked + .menu__links {
    display: block;
  }

  .menu__toggle:checked + .menu__link {
    padding: 1rem 0rem;
    border-top: white solid 2px;
  }

  .menu__link__usuario__img,
  .menu_toggle__buttom {
    width: 48px;
    height: 44px;
    cursor: pointer;
  }

  .menu_toggle__buttom {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    background: var(--naranja);
  }

  .menu_toggle__buttom span {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: white;
  }

  .menu__links {
    position: fixed;
    top: 60px;
    left: 0;
    order: 1;
    width: 100vw;
    text-align: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
  }

  .menu__link,
  .menu__links__usuario {
    padding: 1.8rem 0rem;
    border-top: white solid 2px;
  }

  .menu__links__usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu__logo {
    font-family: "Ultra", "sans-serif";
    text-transform: uppercase;
    color: white;
  }

  .menu__link a {
    text-decoration: none;
    font-family: "DM Sans", "sans-serif";
    text-transform: uppercase;
    color: white;
  }

  .menu__link a:hover {
    color: var(--naranja);
    transition: all 0.5s;
  }

  .menu__link__usuario {
    font-family: "DM Sans", "sans-serif";
    text-transform: uppercase;
    color: var(--naranja);
  }

  .menu__link__usuario:hover {
    color: white;
    transition: all 0.5s;
  }

  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 6rem;
  }

  .hero__video {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero__video img {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .hero__box__text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero__box__text h2,
  .nosotros__text h2,
  .productos__text h2,
  .productos__card__text h4,
  .newsletter h2,
  .contacto h2,
  footer h2 {
    font-family: "Ultra", "sans-serif";
    font-weight: 300;
  }

  .hero__box__text h3,
  .nosotros__text h3,
  .productos__text h3,
  .purchase p,
  .contacto h3,
  footer h3 {
    font-family: "Oswald", "sans-serif";
    font-weight: 500;
  }

  .hero__box__text p,
  .nosotros__text p,
  .productos__text p,
  .productos__card__text p,
  .newsletter p,
  .contacto p,
  footer p {
    font-family: "DM Sans", "sans-serif";
  }

  .hero__box__down,
  .productos__button {
    display: flex;
    justify-content: center;
  }

  .hero__box__down img:active,
  .hero__box__down img:hover {
    width: 70px;
    height: auto;
  }

  .nosotros,
  .contacto {
    background-color: var(--rosa);
    padding: 2rem 0rem;
    gap: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .nosotros__text,
  .contacto__text {
    /* padding-left: 2rem;
    padding-right: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nosotros__img,
  .contacto__img {
    width: 300px;
    height: auto;
  }

  .productos {
    background-color: black;
    background-image: url("assets/fondo1.png");
    background-repeat: round;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .productos__text {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .productos__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .productos__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .productos__card__img {
    width: 220px;
    height: 140px;
  }

  .productos__card__text {
    width: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px 0px;
  }

  #menu {
    width: 150px;
    padding: 10px;
    border: 2px solid var(--naranja);
    border-radius: 50px;
    background: var(--naranja);
    font-family: "Oswald", "sans-serif";
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #menu:hover {
    border: 2px solid white;
    transition: 0.5s ease-out;
  }

  .purchase {
    background-color: var(--naranja);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 10px;
  }

  .purchase__box-rappi,
  .purchase__box-wapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    gap: 5px;
    background-color: white;
    color: black;
    width: 140px;
    height: 170px;
    border-radius: 10px;
  }

  .purchase__box-rappi {
    padding-top: 20px;
    gap: 20px;
  }

  .purchase__box__img {
    width: 100px;
    height: auto;
  }

  .newsletter {
    padding: 2rem 1rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #newsletter__email {
    width: 250px;
    padding: 10px;
    color: var(--gris);
    background-color: black;
    border-radius: 50px;
    border: 2px solid var(--naranja);
  }

  #newsletter__button {
    width: 80px;
    padding: 10px;
    border: 0px;
    border-radius: 50px;
    background: var(--naranja);
    font-family: "Oswald", "sans-serif";
    cursor: pointer;
    font-size: 18px;
  }

  .contacto__items {
    display: flex;
    flex-direction: column;
    color: black;
  }

  .contacto__item {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    gap: 10px;
  }

  .contacto__item__img,
  .footer__social__item__img {
    width: 40px;
    height: 38px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    gap: 30px;
    color: white;
    background-color: var(--gris);
  }

  .footer__menu,
  .footer__social {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footer__menu a,
  .footer_usuario a {
    color: white;
  }

  .footer_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer__social__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer__social__item {
    background-color: var(--naranja);
    border: 1px solid var(--naranja);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .footer__social__item:hover {
    border: 1px solid white;
    transition: 0.5s ease-out;
  }
}

@media (min-width: 481px) {
  .menu {
    height: 80px;
  }

  .menu__links {
    top: 80px;
  }

  .menu__link__usuario__img,
  .menu_toggle__buttom {
    width: 55px;
    height: 50px;
  }

  section {
    scroll-margin-top: 80px;
  }

  .hero__box {
    padding-top: 8rem;
  }

  .hero__video {
    top: 80px;
  }
  .hero__box__down img {
    width: 70px;
    height: auto;
  }

  .hero__box__down img:active,
  .hero__box__down img:hover {
    width: 80px;
    height: auto;
  }
  .hero__box__text h2,
  .nosotros__text h2,
  .productos__text h2,
  .productos__card__text h4,
  .newsletter h2,
  .contacto h2,
  footer h2 {
    font-size: xx-large;
  }

  .hero__box__text h3,
  .nosotros__text h3,
  .productos__text h3,
  .purchase p,
  .contacto h3,
  footer h3 {
    font-size: x-large;
  }

  .hero__box__text p,
  .nosotros__text p,
  .productos__text p,
  .productos__card__text p,
  .newsletter p,
  .contacto p,
  footer p {
    font-size: large;
  }

  .hero__box__text {
    gap: 50px;
  }

  .nosotros,
  .contacto {
    padding: 4rem 2rem;
  }

  .nosotros__img,
  .contacto__img {
    width: 460px;
    height: auto;
  }

  .nosotros__text,
  .contacto__text {
    gap: 30px;
  }

  .productos {
    gap: 40px;
  }

  .productos__text {
    gap: 20px;
  }

  .productos__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .productos__card__img {
    width: 200px;
    height: 190px;
  }

  .productos__card__text {
    width: 200px;
  }

  #menu {
    width: 200px;
    font-size: 25px;
  }

  .purchase {
    gap: 15px;
  }
  .purchase__box__img {
    width: 120px;
    height: auto;
  }

  .purchase__box-rappi,
  .purchase__box-wapp {
    width: 200px;
    height: 220px;
  }

  .newsletter {
    gap: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #newsletter__email {
    width: 400px;
    font-size: medium;
  }

  #newsletter__button {
    width: 120px;
    font-size: 25px;
  }

  .contacto__item__img,
  .footer__social__item__img {
    width: 50px;
    height: 48px;
  }

  .footer__social__item {
    width: 50px;
    height: 50px;
  }

  footer {
    gap: 15px;
  }
}

@media (min-width: 769px) {
  .hero__box {
    padding-top: 8rem;
    gap: 70px;
  }
  .hero__box__text {
    padding-left: 3rem;
    padding-right: 20rem;
    gap: 40px;
  }

  .hero__box__text h2,
  .nosotros__text h2,
  .productos__text h2,
  .newsletter h2,
  .contacto h2,
  footer h2 {
    font-size: xx-large;
  }

  .hero__box__text h3,
  .nosotros__text h3,
  .productos__text h3,
  .purchase p,
  .contacto h3,
  footer h3 {
    font-size: x-large;
  }

  .hero__box__down img {
    width: 90px;
    height: auto;
  }

  .hero__box__down img:active,
  .hero__box__down img:hover {
    width: 100px;
    height: auto;
  }

  .nosotros,
  .contacto {
    flex-direction: row;
  }

  .nosotros__img,
  .contacto__img {
    width: 300px;
    height: auto;
  }

  .productos__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .productos__card__img {
    width: 210px;
    height: 130px;
  }

  .productos__card__text {
    width: 210px;
  }

  .productos__card__text p {
    font-size: x-large;
  }

  .productos__card__text h4 {
    font-size: xx-large;
  }

  #menu {
    width: 250px;
    font-size: 30px;
  }

  #purchase-newsletter {
    display: flex;
    flex-direction: row;
  }

  .purchase {
    flex-direction: column;
    gap: 25px;
    padding: 2rem;
  }

  .purchase__box-rappi,
  .purchase__box-wapp {
    width: 210px;
    height: 190px;
  }

  .purchase__box__img {
    width: 100px;
    height: auto;
  }

  .newsletter {
    gap: 50px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #newsletter__button {
    font-size: 25px;
  }

  #newsletter__email {
    width: 420px;
    font-size: larger;
  }

  footer {
    flex-direction: row;
    gap: 50px;
  }
}

@media (min-width: 1025px) {
  .hero__box {
    padding-top: 5rem;
  }
  .hero__box__text {
    padding-left: 4rem;
    padding-right: 30rem;
    gap: 50px;
  }

  .hero__box__text p {
    font-size: x-large;
  }

  .nosotros,
  .contacto {
    padding-top: 4rem;
  }

  .nosotros {
    gap: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #menu {
    width: 230px;
  }

  .purchase__box__img {
    width: 115px;
    height: auto;
  }

  .purchase__box-rappi {
    padding-top: 28px;
    gap: 35px;
  }

  .purchase__box-rappi,
  .purchase__box-wapp {
    width: 250px;
    height: 230px;
    border-radius: 20px;
    padding: 1rem;
  }

  .newsletter {
    padding: 7rem 3rem;
  }

  .nosotros__img,
  .contacto__img {
    width: 420px;
    height: auto;
  }

  footer {
    gap: 115px;
  }
}
